<li>
	{{burger_name}}

	<button class="change-eaten" data-id="{{id}}" data-neweaten="{{devoured}}">
		{{#if devoured}}Eaten{{else}}EAT UP!{{/if}}
	</button>
	<button class="js-delete" data-id="{{id}}">
		Bye Burger!
	</button>
</li>